{
  "parser": "babel-eslint",
  "extends": "eslint-config-riot",
  "env": {
    "jasmine": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  },
  "plugins": [
    "html"
  ],
  "settings": {
    "html/html-extensions": [".riot"]
  }
}
